.title {
  font-family: 'PangMenZhengDao-3';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  background: linear-gradient(360deg, #87DAFF 0%, #FFF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
