.container {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;

  .headerBg {
    width: 100%;
  }

  .headerText {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerIcon {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: row;
  padding: var(--screen-global-padding) var(--screen-global-padding) 0;
}

.left, .center, .right {
  display: flex;
  flex-direction: column;
}

.left {
  width: 30%;
  max-width: 560px;
}

.center {
  width: 40%;
  margin: 0 16px;
}

.right {
  width: 30%;
  max-width: 560px;
}

.item {
  margin-bottom: var(--screen-global-padding);
}

@media only screen and (max-width: 1360px) {
  .content {
    display: block;
    height: auto;
  }

  .left, .center, .right {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
  }

  .center {
    margin: var(--screen-global-padding) 0;
  }
}
